@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@0;1&family=Lato:ital,wght@0,700;1,700&display=swap');

:root {
  --body-font-size: 62.5%;
  --main-bg: rgba(207, 207, 207);
  --main-black-color: rgba(43, 43, 43, 0.75);
  --aside-bg: linear-gradient(
    to right,
    rgba(2,29,82,1),
    rgb(8, 59, 160)
  );
  --text-shadow: .5rem .5rem 2rem var(--main-black-color);


/* 

.My-Color-Theme-1-rgba { color: rgba(143, 143, 143, 1); }
.My-Color-Theme-2-rgba { color: rgba(79, 79, 79, 1); }
.My-Color-Theme-3-rgba - main-bg { color: rgba(207, 207, 207, 1); }
.My-Color-Theme-4-rgba { color: rgba(219, 219, 219, 1); }
.My-Color-Theme-5-rgba { color: rgba(181, 181, 181, 1); }
 */

/* 
font-family: 'Fira Sans Condensed', sans-serif; => body fonts
font-family: 'Lato', sans-serif; => Heading fonts
*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: var(--body-font-size)
}

body {
  height: 100%;
  font-size: 1.8rem;
  background-color: var(--main-bg);
  font-family: 'Fira Sans Condensed', sans-serif;
}

section.grid-container {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "header header"  
    "sidebar main"  
    "sidebar footer"  
  ;
}

header.header {
  grid-area: header;
  width: 85vw;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  grid-column: 1/-1;
}

aside.aside {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--aside-bg);
  width: 15vw;
  height: 100vh;
  z-index: 2;
  grid-area: sidebar;
  border-right: .5rem solid var(--main-black-color);
}

header.header {
  margin: 1rem auto;
  width: 100%;
  color: rgba(6, 9, 120, 47);
  font-style: italic;
}

header h1.main-heading {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  margin: 1rem auto;
  text-align: center;
  text-shadow: var(--text-shadow);
}

header p.p__header {
  text-align: center;
}
